.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-title {
  text-align: center;
  display: none;
}

.features {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  padding: 120px 0;
  width: 1158px;
}
